<h2>{{test.text | uppercase}} Details</h2>
<div>
    <label for="text">Test name: </label>
    <input id="text" [(ngModel)]="test.text" placeholder="text">
</div>
<div><span>Test: </span>{{test.text}}</div>
<div>
    <span>Question {{test.questions[0].id}}</span><br>
    <span>text: </span>{{test.questions[0].text}}<br>
    <span>Options: </span><br>
    <table>
        <tr *ngFor="let option of test.questions[0].options">
            <td>Id: {{test.questions[0].option.id}}</td>
            <td>Text: {{test.questions[0].option.text}}</td>
        </tr>
    </table>>
    <span>correctOptionId: </span>{{test.questions[0].correctOptionId}}
    <span>testId: </span>{{test.questions[0].testId}}
</div>
